<!DOCTYPE html>
<html>
<head>
  <title>Hello Parrot</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
  <header>
    <%- include('../partials/navigation') %>
  </header>
  <main>
    <%- body %>
  </main>
  <footer>
    <p>&copy; 2024 Hello Parrot</p>
  </footer>
</body>
</html>
