<% layout('layouts/main-layout') %>

<section>
    <div class="overlay">
        <h1>Importance of Learning English</h1>
        <p>English is a global language that opens up opportunities for communication, education, and career advancement.</p>
        <p>Start your journey today!</p>
    </div>
</section>

