<h3><i class="fa-brands fa-earlybirds"></i>Hello Parrot!</h3>
<div class="section">
    <p class="lead">Practice speaking English everyday.</p>
    <p class="lead">영어를 연습합시다</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn black darken-1">
        <i class="fab fa-google left"></i>Log in with Google
    </a>
    <a href="/auth/facebook" class="btn black darken-1">
        <i class="fab fa-facebook left"></i>Log in with Facebook
    </a>
</div>