<% layout('layouts/main-layout') %>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Note Taking App</title>
    <link rel="stylesheet" href="public/css/stylesdiary.css">
</head>

<body>
    <div class="btn">
        <div class="heading">
            <h1>Note Taking App</h1>
        </div>
        <button id="addBtn">
            <i class="fas fa-plus"></i>
            Add Note
        </button>
    </div>
    <div id="main"></div>
    <div class="save-upload-buttons">
        <button id="saveNotesBtn">Save Notes</button>
        <button id="uploadNotesBtn">Upload Notes</button>
    </div>
    <script src="https://kit.fontawesome.com/bf520e6492.js" crossorigin="anonymous"></script>
    <script src="public/js/record.js"></script>
</body>
</html>

